
<div class="altura">
    <div class="m-1 d-flex justify-content-start">
      <button type="button" class="btn btn-dark cursor" data-bs-toggle="tooltip" data-bs-placement="top" title="Regresar" routerLink = "/">
        <span aria-hidden="true">&laquo;</span> 
      </button>
    </div>
    <div class=" d-flex justify-content-center align-items-start">
      <form class="w-50 row g-3 needs-validation" [formGroup] ="formDocente" (ngSubmit)="guardarDatos()">
        <div class="col-12" style="height: 50px;">
        </div>
        <div class="col-12 text-center">
          <h1 class="mt-1">Registrar Docente</h1>
        </div>
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Nombres:</label>
          <input type="text" class="form-control" autocomplete="off" formControlName="nombres">
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Apellidos:</label>
          <input type="text" class="form-control" autocomplete="off" formControlName="apellidos">
        </div>
        <div class="col-md-4">
          <label for="validationCustomUsername" class="form-label">CI:</label>
          <div class="input-group has-validation">
            <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" formControlName="cedula">
          </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustomUsername" class="form-label">Email:</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input type="email" class="form-control" autocomplete="off" formControlName="email">
            </div>
        </div>
        <div class="col-md-6">
          <label for="validationCustom04" class="form-label">Cargo:</label>
          <select class="form-select" id="validationCustom04" formControlName="cargo">
            <option selected disabled value="">Seleccionar...</option>
            <option *ngFor="let cargo of cargoDocente">{{cargo}}</option>
          </select>
        </div>
        <div class="col-md-12">
          <label for="validationCustom05" class="form-label">Observación:</label>
          <textarea class="form-control"  rows="2" formControlName="observacion"></textarea>
        </div>
        <div class="col-md-12" *ngIf="errorForm">
          <div class="alert alert-danger" role="alert">
            {{errorForm}}
          </div>
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="submit">Registrar</button>
        </div>
      </form>
    </div>
</div>