.altura{
    width: 100%;
    min-height: 100%;
    height: auto !important;
    position: fixed;
    top:0;
    left:0;
}
.clock p {
    color: #666;
    font-size: 2rem;
}

.mishoras {
    font-weight: bold;
    font-size: 4rem;
}

.ampm {
    font-size: 1.4rem;
    font-weight: 200;
}

.segundos {
    width: 100%;
    text-align: right;
    font-size: 1.0rem;
    font-size: 100;
}
